In [2]:
import pandas as pd

df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})

df

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
3  K3  A3
4  K4  A4
5  K5  A5

In [4]:
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

other

  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [ ]:
df_sales_listings_ratio = df_department_sold.set_index('course_dept').join(
                          df_department_added.set_index('course_dept'), 
                          on='course_dept', lsuffix='_sold', rsuffix='_added')